/* RESETES DO DOCUMENTO :*/
*{
	margin: 1;
	padding: 1;
	box-sizing: border-box;
	font-family: "Roboto";
}

/* autera margem da class center e determina topo :*/
.center{
	max-width: 1200px;
	margin: 0 auto;
	padding:0 2%;
}

.clear{clear: both;}
.w50{float: left;width: 50%;padding:0 15px;}


/* coloca o fundo na secao topo*/
section.topo{
	background-image: linear-gradient(114deg, #250e8a, #00f9f7);
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo{
	float: left;
}